<nav>
  <ul class="navs">
    <% if user_signed_in? %>
      <li class="navs log_out">
        <a>
          <%= button_to "Sign out", destroy_user_session_path, :method => :delete %>
        </a>
      </li>
      <%else%>
        <li class="navs log_out">
          <%= link_to('Sign in', "/users/sign_in") %>
        </li>
    <% end %>

  </ul>
</nav>